
$light: #fff;
$primary: #be4b48;
$primary-light: #D9CCCC;
$red: #992321;

// Fonte
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
$font-xl: 18px;
$font-xxl: 25px;
$font-xxvl: 32px;
$font-xxxl: 48px;

//Espaçamento
$space-ssm: 0.3rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 3rem;
$space-xxl: 4rem;

//Breakpoints
$mobile: 750px;
$tablet: 900px;
$medium-screen: 1200px;
